<!DOCTYPE HTML>
<html>
<head>
    <style>
        body {background: url(https://sun9-44.userapi.com/c607430/v607430889/41c2/fIeKMRmRYUM.jpg) no-repeat; background-size: 100%; }
    </style>
    <title>Всё что нужно</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Arimo');
        .top-menu {
            position: relative;
            background: rgba(34,34,34,.2);
        }
        .menu-main {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .menu-main:after {
            content: "";
            display: table;
            clear: both;
        }
        .left-item {float: left;}
        .right-item {float: right;}
        .navbar-logo {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
        .menu-main a {
            text-decoration: none;
            display: block;
            line-height: 80px;
            padding: 0 20px;
            font-size: 18px;
            letter-spacing: 2px;
            font-family: 'Arimo', sans-serif;
            font-weight: bold;
            color: white;
            transition: .3s linear;
        }
        .menu-main a:hover {background: rgba(0,0,0,.3);}
        @media (max-width: 830px) {
            .menu-main {
                padding-top: 90px;
                text-align: center;
            }
            .navbar-logo {
                position: absolute;
                left: 50%;
                top: 10px;
                transform: translateX(-50%);
            }
            .menu-main li {
                float: none;
                display: inline-block;
            }
            .menu-main a {
                line-height: normal;
                padding: 20px 15px;
                font-size: 16px;
            }
        }
        @media (max-width: 630px) {
            .menu-main li {display: block;}
        }
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
<nav class="top-menu">
    <ul class="menu-main">
        <li class="left-item"><a href="needThis">Список</a></li>
        <li class="left-item"><a href="addItem">Добавить</a></li>
    </ul>
    <a class="navbar-logo" href="main"><img src="https://cdn1.savepice.ru/uploads/2019/10/18/86658664a269f4c07a1f65d47e98e6ec-full.png"></a>
</nav>
<div>
    <form method="post">
        <input type="text" name="name" placeholder="Нужно больше" />
        <input type="number" name="count" placeholder="Вот столько" />
        <button type="submit" >Закинуть</button>
    </form>
</div>

{{#items}}
    <div>
        <p>{{id}}. {{name}} {{count}}шт</p>
</div>
{{/items}}

</body>
</html>