<!DOCTYPE HTML>
<html xmlns:content="http://www.w3.org/1999/xhtml">
<head>
    <style>
        body {
            background: url(https://sun9-12.userapi.com/c857416/v857416746/ae759/JEvueHvyk7o.jpg) no-repeat;
            background-size: 100%;
        }

    </style>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Arimo');

        .top-menu {
            position: relative;
            background: rgba(34, 34, 34, .2);
        }

        .menu-main {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .menu-main:after {
            content: "";
            display: table;
            clear: both;
        }

        .left-item {
            float: left;
        }

        .right-item {
            float: right;
        }

        .navbar-logo {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .menu-main a {
            text-decoration: none;
            display: block;
            line-height: 80px;
            padding: 0 20px;
            font-size: 18px;
            letter-spacing: 2px;
            font-family: 'Arimo', sans-serif;
            font-weight: bold;
            color: white;
            transition: .3s linear;
        }

        .menu-main a:hover {
            background: rgba(0, 0, 0, .3);
        }

        @media (max-width: 830px) {
            .menu-main {
                padding-top: 90px;
                text-align: center;
            }

            .navbar-logo {
                position: absolute;
                left: 50%;
                top: 10px;
                transform: translateX(-50%);
            }

            .menu-main li {
                float: none;
                display: inline-block;
            }

            .menu-main a {
                line-height: normal;
                padding: 20px 15px;
                font-size: 16px;
            }
        }

        @media (max-width: 630px) {
            .menu-main li {
                display: block;
            }
        }
    </style>
    <style>
        .in div {
            --field-size: 50px;
            --field-border-color: #ccc;
            margin: 0 auto;
            font-size: 1rem;
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
            0 10px 10px -5px rgba(0, 0, 0, 0.04);
            background: #ffffff;
            text-align: center;

            border-radius: 5px;
            position: relative;
            width: 400px;
            overflow: hidden;
            display: flex;
            background: white;
        }

        .in button {
            --field-size: 50px;
            --field-border-color: #ccc;
            font-size: 30px;
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
            0 10px 10px -5px rgba(0, 0, 0, 0.04);
            background: #ffffff;
            position: relative;
            width: 150px;
            height: 50px;
            margin-top: 5px;
            margin-left: auto;
            margin-right: auto;
            overflow: hidden;
                        font-family: Helvetica;
                        border: none;
            text-align:center;

            display: block;
            border-radius: 10px;
            cursor: pointer;

        }
        .in input {
            --field-size: 50px;
            --field-border-color: #ccc;
            margin: 0 auto;
            font-size: 1rem;
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
            0 10px 10px -5px rgba(0, 0, 0, 0.04);
            background: #ffffff;
            border-radius: 5px;
            position: relative;
            width: 400px;
            height: 30px;
            overflow: hidden;
            display: flex;
            font-family: Helvetica;

        }
        .in li {
            --field-size: 50px;
            --field-border-color: #ccc;
            margin: 0 auto;
            font-size: 2rem;
            align-items: center;
            text-align: center;
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
            0 10px 10px -5px rgba(0, 0, 0, 0.04);
            background: #ffffff;
            border-radius: 5px;
            position: relative;
            width: 800px;
            height: 50px;
            overflow: hidden;
            display: flex;
            text-align: center;
            font-family: Helvetica;

        }


        .in input[type="text"] {
            padding: 1em;
            border: 0;
            flex: 1;
            font-size: 1rem;
            --placeholder-color: #ababab;
            font-family: Helvetica;
        }
    </style>

    <title>Сегодня мне нужно вот это</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
<nav class="top-menu">
    <ul class="menu-main">
        <li class="left-item"><a href="needThis">Список</a></li>
        <li class="left-item"><a href="addItem">Добавить</a></li>
    </ul>
    <a class="navbar-logo" href="main"><img
            src="https://cdn1.savepice.ru/uploads/2019/10/18/86658664a269f4c07a1f65d47e98e6ec-full.png"></a>
</nav>


<h1 align="center" style="color:#FFFFFF">Мне нужно больше:</h1>

{{#items}}
    <div>
        <ol class="in">
            <li>{{id}}. {{name}}  {{count}}шт</li>
        </ol>
    </div>
{{/items}}
<div  class="in">
    <input class="in" type="text" name="name" placeholder="номер" /><button class="in" type="submit" >Забыть</button>
    <a href="needThis"><button class="in"  type="submit">Обновить</button></a>
</div>
<script>

    document.querySelector("[type=\"submit\"]").onclick = () => {
        alert('Ты точно принёс?');

        var url = "http://localhost:8080/needThis/delete";
        var item = document.querySelector("[name=\"name\"]").value;

        fetch(url + '/' + item, {
            method: 'delete'
        });

    }

</script>
</body>
</html>
<div>

</div>